<div class="row-fluid">
	<div class="banner span12">
		<div class="row-fluid">
			<div class="hero-unit span5">
				<h1>Behold!</h1>
				<p>
					The Celestial Glory of the Space Cathedral. 
					It's ongoing mission, to spread the Word and save the souls of the billions of innocent alien lifeforms who have yet to accept Jesus Christ into their lives as their personal Lord and Savior. 
					Every day millions, perhaps even billions of alien lifeforms, ignorent of the glory of our lord Jesus Christ, die. 
					And when they do, what happens to them? 
					They go to Hell.
					They are mothers, father, sisters, and brothers, and because they have not been exposed to the Glory of His Word... They now face an eternity of unimaginable tourment, their families condemned to mourn their ceaseless suffering.
					Forever. 
					But you can Save them!
					With your help, the Space Cathedral can venture forth, into space, and begin spreading the Word to all life forms, in all galaxies. 
				</p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="9FF2TM8NS42JS">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<img src="/assets/research-300x200.jpg" alt="" class="img-circle">
				<h2>Research</h2>
				<p>Building the space cathedral isn't a simple matter of duct taping stadium sized thrusters onto Westminster Abby. Rather, it's an epic quest into heretofore undiscovered realms of science and faith. Only by harnessing the power of quantum energy, prayer, and money, can we discover the hidden wisdom necessary to traverse the stars and spread His Word.
				</p>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<img src="/assets/construction-300x200.jpg" alt="" class="img-circle">
				<h2>Construction</h2>
				<p>Construction will commence as soon as our world renowned team of physicists, evangelicals, and architects has cemented their unified vision, refined the faith based technology and met the monetary prerequisites for building the Space Cathedral.
				</p>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<img src="/assets/mission-300x200.jpg" alt="" class="img-circle">
				<h2>Mission</h2>
				<p>To spread His Word across the cosmos, and bring His Light to every heart... Or whatever sort of organ is metaphorically appropriate. YOU CAN HELP! Donate today.
				</p>
			</div>
		</li>
		
	</ul>
</div>


<div class="row-fluid">
	<h2>Testimonials</h2>
	<blockquote>
		<p>Wrew nogblat, conditer, y zorblendin. Kartek Space Cardinal bobo termober. Indo temblar John Hargrove melba zort!!</p>
		<small>Zelblar Salad, Delfor 5</small>
	</blockquote>
	<blockquote>
		<p>The Cardinal Franciou has shown me the light. I know accept the lord into my life and seek to honor him with donations as often as once per day. The blessed light be upon me. Thank you space cathedral!</p>
		<small>Vartamin Sykes, small trailor in Alabama</small>
	</blockquote>
</div>