header {
	#logo {
	}

	ul li:nth-child(even) a {
		color: #fe0208;
	}

} /* End Header */

#banner {
	background: url(/assets/SpaceChartes3.jpg) no-repeat;
	margin-bottom: 10px;


	.banner-hero {
		text-align: center;
		margin-top: 10px;
	}
}

.border-box {
	display: block;
	padding: 4px;
	margin-top: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

/******** Footer ********/

.socnets {
	display: inline-block;
}
