$main-color: #440066;
$support-color: #662222;
$accent-color: #338811;
$secondary-accent-color: #557777;
$tertiary-accent-color: #F28E79;

.container-fluid {
	max-width: 1200px;
}

.clear {
content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

body {
}

h1 {
	font-family: 'gothic_ultra_ot';
	font-size: 3.1em;
	color: $support-color;
}
h2 {
	font-family: 'gothic_ultra_ot';
	font-size: 2.5em;
	color: $support-color;
}
h3 {
	font-family: 'gothic_ultra_ot';
	font-size: 2em;
	color: $support-color;
}

header {
	.navbar {
		.brand {
			font-family: 'roman_sd';
			font-size: 3em;
			color: $main-color;
		}

		.nav {
			font-family: 'gothic_ultra_ot';
			font-size: 2em;

			li:nth-child(even) a {
				color: $support-color;
			}
		}
	}
} /* End Header */

.banner {
	background: url(/assets/space-cathedral-1200x700.jpg) no-repeat;
	margin-bottom:2%;
	
	.hero-unit {
		float:right;
		padding:1%;
		margin:1%;
	}
}

.thumbnails {
	h1 {
		text-align: center;
	}
}

.donate {
	text-align: center;
}

#banner {
	background: url(/assets/SpaceChartes3.jpg) no-repeat;
	margin-bottom: 1%;
	max-height: 400px;

	.banner-hero {
		margin-top: 1%;
		margin-left: 1%;
		color: $support-color;
		-moz-box-shadow: 3px 3px 4px #444;
		-webkit-box-shadow: 3px 3px 4px #444;
		-ms-box-shadow: 3px 3px 4px #444;
		box-shadow: 3px 3px 4px #444;
		float: right;
	}

	.hero-unit {
		h1 {
			font-family: 'gothic_ultra_ot';
			font-size: 4em;
		}
	}
}


.border-box {
	display: block;
	padding: 4px;
	margin-top: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

/******** Footer ********/

.socnets {
	display: inline-block;
}

/******** Other ********/

@font-face {
	font-family: 'gothic_ultra_ot';
	src: url('/fonts/gothic_ultra_ot-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/gothic_ultra_ot-webfont.woff') format('woff'),
	url('/fonts/gothic_ultra_ot-webfont.ttf') format('truetype'),
	url('/fonts/gothic_ultra_ot-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roman_sd';
	src: url('/fonts/roman_sd-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/roman_sd-webfont.woff') format('woff'),
	url('/fonts/roman_sd-webfont.ttf') format('truetype'),
	url('/fonts/roman_sd-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}